body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,figure,figcaption,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size:12px;background: #fff;}
input,a{outline:none;}


.taochan{
	width: 96%;
	height: 140px;
	margin-left: 2%;
	display: flex;
	justify-content: space-between;
}
.taochan .taochan1{
	width: 32.3%;
	background: #f9f9f9;
}
.taochan .taochan1 h3{
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.taochan .taochan1 p{
	width: 94%;
	padding-left: 3%;
	text-align: center;
	font-size: 10px;
	margin: 0;
	color: #777;
	border: 1px solid #bbb;
}
.taochan .taochan1 img{
	width: 98%;
	margin-left: 1%;
	height: 60%;
	margin-top: 6px;
}

.plus{
	width: 96%;
	height: 80px;
	margin-left: 2%;
	margin-top: 10px;
}
.plus img{
	width: 96%;
	height: 80px;
}
